{% extends 'base.html' %}

{% block title %}
My.SIS Students
{% endblock %}

{% block studentpill%}
msu-wrap
{% endblock %}
{% block studentpill2%}
text-light
{% endblock %}

{% block body %}

<div class="container w-75 ">
  <div class="container mt-4 mb-0 w-100">
      <form method="POST" action="/student-search" class="">
          {{ form.csrf_token}}
          <div class="row gx-5">
            <div class="col-lg-2 p-1 d-flex justify-content-start">
                <button class="btn btn-success myshadow w-100" type="button" data-bs-toggle="modal" data-bs-target="#addstudent"> Add Student</button>
              </div>
            
            <div class="col-lg-2 p-1">
              <a href="/students" class="btn btn-secondary w-100 myshadow"  role="button" type="button" aria-disabled="true"><i class="bi-arrow-clockwise"></i> Refresh</a>
            </div>
            
            <div class="container col-lg-3 p-1">
              <div class="row">
                  <div class="col-6 p-0 ps-2">
                    <select name="searchfield" id="student_filter" class="form-select myshadow squarify">
                      <option selected> Filter by</option>
                      <option value="id">ID</option>
                      <option value="name">Name</option>
                      <option value="course">Course</option>
                    </select>
                  </div>
                  
                  <div class="col-6 p-0 px-1 pe-2">
                    <select name="genderfilter" id="gender_filter" class="form-select myshadow squarify">
                      <option value="all" selected> Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
              </div>
            </div>
            
            <div class="col col-lg-5 p-1">  
              <div class="container p-0 ps-2">
                <input class="form-control myshadow squarify" type="search" placeholder="Search" aria-label="Search" name="searchbar" id="student_searchbar">
              </div>
            </div>

          </div> 
      </form>
  </div>
</div>

<!-- ADD STUDENT -->
<form action="/student-add" method="POST">
  <div class="modal fade" id="addstudent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content position-relative b-overlay">
          
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Student</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body verify-student-modal">
              {% if form.course.choices|length == 0 %}
              <div class="contain d-flex justify-content-center">
                <h5 class="text-danger">No courses avaialable at the moment.</h5>
              </div>
              {% endif %}
              {{ form.id.label(class="form-label fw-semibold") }}
              {{ form.id(class="form-control") }}  
              <span></span>
              <br/>
              {{ form.last_name.label(class="form-label fw-semibold") }}
              {{ form.last_name(class="form-control") }} 
              <span></span>
              <br/>
              {{ form.first_name.label(class="form-label fw-semibold") }}
              {{ form.first_name(class="form-control") }}
              <span></span>
              <br/>
              {{ form.year.label(class="form-label fw-semibold") }}
              {{ form.year(class="form-select") }}
              <br/>
              {{ form.gender.label(class="form-label fw-semibold") }}
              {{ form.gender(class="form-select") }}
              <br/>
              {{ form.course.label(class="form-label fw-semibold") }}
              {% if form.course.choices|length > 0 %}
              {{ form.course(class="form-select") }}
              {% else %}
              <input type="text" class="form-control", disabled=True, placeholder="No available courses at the moment.">
              {% endif %}
              <br/>
              {{ form.profile_pic.label(class="form-label fw-semibold") }}
              {{ form.profile_pic(class="form-control") }}
              <span></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {% if form.course.choices|length > 0 %}
            <button class="btn msuify-button" onclick="verify_student(0)" type="button">Submit</button>
            {% endif %}
          </div>
          
        </div>
      </div>
  </div>
</form>


{% if students == None or students|length == 0 %}
<div class="container d-flex justify-content-center pt-5">
  <h1 class="text-muted display-5">No Students at the moment</h1>
</div>
{% else %}

<!-- Table -->
<div class="container mt-3 rounded-1 py-2">
  <div class="table-responsive-md overflow-x-scroll" id="student_tc">
    <table class="table align-middle mb-0 bg-white table-hover myshadow"  style="min-width: 600px;">
      <thead id="student_thead" class="msuify">
  
        <tr>
          <th width="10%" scope="col" class="py-3"><div class="my-0 d-flex justify-content-center ">Image</div></th>
          <th width="10%" scope="col" class="py-3"><div class="my-0 d-flex justify-content-center ">ID Number</div></th>
          <th width="10%" scope="col" class="py-3">Last Name</th>
          <th width="10%" scope="col" class="py-3">First Name </th>
          <th width="20%" scope="col" class="py-3">Course</th>
          <th width="5%" scope="col" class="py-3">Year</th>
          <th width="5%" scope="col" class="py-3">Gender</th>
          <th width="25%" scope="col" class="py-3"><div class="my-0 d-flex justify-content-center ">Action</div></th>
  
        </tr>
      
      </thead>

      <tbody class="" id="student_tbody">
      {% for student in students %}
      {% set id, last_name, first_name, year, gender, course = student.id,student.last_name, student.first_name, student.year, student.gender, student.course_code %}
      <tr>
          <td class="text-center">
            <div class="d-flex justify-content-center p-0 ">  
              <div class="b-ovr-pic p-0">
                <a type="button" class="text-white a-ovr-pic d-flex justify-content-center align-items-center flex-column p-0 m-0" style="text-decoration: none;" data-bs-target="#student-picture{{student.id}}" data-bs-toggle="modal">
                  <i class="bi-eye text-light" style="font-size: 18px"></i>
                  <span class="text-light"style="font-size: 12px;">View</span>
                </a>
                {% if student.profile_pic %}
                <img src="{{student.profile_pic}}" alt="{{student.id}}_profile_picture" class="profile_pic">
                {% else %}
                <img src="../../static/img/default_profile.jpeg" alt="{{student.id}}_profile_picture" class="profile_pic">
                {% endif %}
              </div>
            </div>
          </td>
          <th scope="row" class="text-center">{{ student.id }}</th>
          <td>{{ student.last_name }}</td>
          <td>{{ student.first_name }}</td>
          {% if student.course %}
          <td>{{ student.course.course_name }}</td>
          {% else %}
          <td> <p class="fst-italic fw-light my-auto h-50">Course Removed</p> </td>
          {% endif %}
          <td class ="text-center">{{ student.year }}</td>
          <td class ="text-center">{{ student.gender }}</td>

          <td class="pe-0 text-center">
              <a href="/student-edit/{{student.id}}"class="btn btn-warning btn-sm my-1" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#editstudent{{student.id}}" style="width: 100px;" onmouseover="set_selectfield('{{course}}','{{year}}','{{gender}}')"><i class="bi-pencil-fill" ></i></a>

              <a href="/student-delete/{{student.id}}" class="btn btn-danger btn-sm my-1" role="button" aria-pressed="true" style="width: 100px;" data-bs-target="#confirmdelete{{student.id}}" data-bs-toggle="modal" ><i class="bi-trash-fill"></i></a>

          </td>
      </tr>

      <!-- EDIT MODAL -->
      <form action="/student-edit" method="POST">
        <div id="editstudent{{student.id}}" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit: {{student.last_name +', '+student.first_name}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="verify-student-modal modal-body">
                      <input type="hidden" value="{{ student.id }}" id="hid" name="hid" style="padding: 0;">
                      
                      {% if form.course.choices|length == 0 %}
                      <div class="contain d-flex justify-content-center">
                        <h5 class="text-danger">No courses avaialable at the moment.</h5>
                      </div>
                      {% endif %}
                    
                      <div class="d-flex justify-content-center">
                      
                        <div class="b-ovr-pic">
                          <label for="{{student.id}}_profile_picture">
                            <div class="a-ovr-pic d-flex justify-content-center align-items-center flex-column">
                              <i class="bi-camera-fill text-white"></i>
                              <span class="text-white fw-semibold" for="{{student.id}}_profile_picture"> Change Photo</span>
                              </label>
                              <input type="file" id="{{student.id}}_profile_picture" class="d-none"
                              onchange="change_profile(this,'{{student.id}}_profile_picturesrc')">
                            </div>
                          
                            {% if student.profile_pic %}
                            <img src="{{student.profile_pic}}" alt="{{student.id}}_profile_picture" class="profile_pic_larger" id="{{student.id}}_profile_picturesrc">
                            {% else %}
                            <img src="../../static/img/default_profile.jpeg" alt="{{student.id}}_profile_picture" class="profile_pic_larger" id="{{student.id}}_profile_picturesrc">
                        {% endif %}
                        </div>
                      </div>
                      
                
                      {{ form.id.label(class="form-label  fw-semibold") }}
                      {{ form.id(class="form-control", value=id) }}  
                      <span></span>
                      <br/>
                      {{ form.last_name.label(class="form-label fw-semibold") }}
                      {{ form.last_name(class="form-control", value=last_name) }} 
                      <span></span>
                      <br/>
                      {{ form.first_name.label(class="form-label fw-semibold") }}
                      {{ form.first_name(class="form-control", value=first_name) }}
                      <span></span>
                      <br/>
                      {{ form.year.label(class="form-label fw-semibold") }}
                      {{ form.year(class="form-select set_year", value=year) }}
                      <br/>
                      {{ form.gender.label(class="form-label fw-semibold") }}
                      {{ form.gender(class="form-select set_gender", value=gender) }}
                      <br/>
                      {{ form.course.label(class="form-label fw-semibold") }}
                      {% if form.course.choices|length > 0 %}
                      {{ form.course(class="form-select set_course") }}
                      {% else %}
                      <input type="text" class="form-control" disabled=True, placeholder="No available courses at the moment.">
                      {% endif %}
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {% if form.course.choices|length > 0 %}
                    <button class="btn btn-success" type="button" data-bs-target="#confirm{{student.id}}" data-bs-toggle="modal">Save</button>
                    {% endif %}
                  </div>
                  

                </div>
              </div>
        </div> 
        
        <!-- CONFIRM EDIT MODAL -->
        <div class="modal fade" id="confirm{{student.id}}" aria-hidden="true" aria-labelledby="confirmChanges" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Submit Changes?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-target="#editstudent{{student.id}}" data-bs-toggle="modal" id="back">Back</button>
                {% if form.course.choices|length > 0 %}
                <button class="btn msuify-button" onclick="verify_student(1, '{{student.id}}')" type="button">Submit</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- CONFIRM DELETE MODAL -->
      <div class="modal fade" id="confirmdelete{{student.id}}" aria-hidden="true" aria-labelledby="confirmChanges" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Confirm</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Delete {{ student.last_name+", "+student.first_name}}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary me-0"
              data-bs-dismiss="modal">Cancel</button>
              
              <form action="/student-delete" method="post" class="p-0 m-0">
                {{form.csrf_token}}
                <input type="hidden" name="hid" value="{{student.id}}">
                <button type="submit" class="btn btn-secondary msuify-button"  >Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- PictureModal -->
    <div class="modal fade" id="student-picture{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content msuify">
          <div class="modal-body text-center">   
            {% if student.profile_pic %}
            <img src="{{student.profile_pic}}" alt="{{student.id}}_profile_picture" class="w-100">
            {% else %}
            <img src="../../static/img/default_profile.jpeg" alt="{{student.id}}_profile_picture" class="w-100">
            {% endif %}    
          </div>
        </div>
      </div>
    </div>
        
    {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br/>
{% endif %}
{% endblock %}