.msuify-button {
    background-color: #a41d21;
    color: white;
}

.msuify-sectext{
    color: #d7aa43;
}

.msuify-sectext:hover{
    color: #ffcc56;
}


.msuify-button:hover {
    background-color: maroon;
    color: white;
}

.msuify {
    background-color: #a41d21;
    color: white;
}

.msuify2 {
    background-color: #dd4b39;
    color: white;
}

.msu-wrap {
    background-color: #a41d21;
    color: white;
}
.msu-text-link, .msu-text-link:active, .msu-text-link:visited {
    color: #a41d21;
    text-decoration: none;
}

a.nav-link.active {
    color:white;
    background-color: #a41d21;
}

.msu-text-link:hover {
    color: maroon;
}

.msu-text, .msu-text:hover, .msu-text:active, .msu-text:visited {
    color: #a41d21;
}

#data-table tfoot {
    padding: 10%;
}

.alert {
    position: absolute;
    align-self: center;
    margin-left: 12.5%;
    width: 75%;
}
html{
    height: 100%
}

.body-img {
    background-image: url('../img/msubg2.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
}

.body-img2 {
    background-image: url('../img/msubg3.jpg');
    background-size: cover;
    background-repeat: reapeat-y;
    height: 100%;
}

.body-img3 {
    background-image: url('../img/honeybg.jpg');
    background-size: cover;
    background-repeat: reapeat-y;
    height: 100%;
}

.body-darkwhite {
    background-color: #f0f0f0;
}

.before-space::before {
    display: block;
    content: '';
    height:80px;
}

.dmsans {
    font-family: 'DM Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

table {
    font-size: 95%;
}

.btn-success {
    background-color: #00a65a;
    border-color: #00a65a;
}

.myshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn, .squarify, .modal-content {
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control, .form-select, .alert {
    border-radius: 0;
}

.squareme {
    border-radius:0;
    height: 40px;
    border-color: rgba(88, 88, 88, 0.452);
}

.authlabel {
    font-size: 90%;
    font-weight: 600;
}

.profile_pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.profile_pic_larger {
    height: 180px;
    width: 180px;
}
.b-ovr-pic {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.a-ovr-pic {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 25;
    opacity: 0;
}

.a-ovr-pic:hover {
    cursor: pointer;
    border: none;
    opacity: 1;
    padding: 0;
    margin: 0;
    animation: hover-animate .2s linear;
}

@keyframes hover-animate{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.a-ovr-pic:hover > * {
    animation: text-animate .2s linear;
}

@keyframes text-animate {
    from {
        transform: translateY(15%);
    } to {
        transform: translateY(0%);
    }
    
}

.b-overlay {
    position: relative;
}

.a-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: append-animate .3s linear;
}
@keyframes append-animate{
    from {
        transform: translatey(5%);
        opacity: 0;
    }
    to{
        transform: translatey(0%);
        opacity: 1;
    }
}

.bi-camera-fill {
    font-size: 30px
}

.table {
    animation: load-animate .3s linear;
}
@keyframes load-animate {
    from {
        opacity: 0;
        transform: translatey(15%);
        transform: scale(.99);
    } to {
        transform: translatey(0%);
        opacity: 1;
        transform: scale(1);

    }
}
