<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">    
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body-img position-relative" >
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            <strong>{{ message }}</strong>
            <button class="btn-close float-end" type="button" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        
        {% else %}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <strong>{{ message }}</strong>
            <button class="btn-close float-end" type="button" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="bg-img"></div>
    {% block body %} {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    

    <script type="text/javascript">
        var csrf_token = "{{ csrf_token() }}";
    
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    <script type="text/javascript" src="../../static/js/main.js"></script>
 
</body>
</html>

