{% extends "auth/base.html" %}


{% block title %}My.SIS Login{% endblock %}
{% block body %}

    
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="container align-items-center bg-white w-50 p-5 pt-3 myshadow">
        <div class="container d-flex align-items-center justify-content-center">
            <img class="img-fluid w-50 " src="../../static/img/logo2.jpg" style="max-width: 150px; min-width: 100px;" alt="">
        </div>
        <form method="POST">
            {{ form.email.label(class="form-label authlabel")}}
            {{ form.email(class="form-control form-email")}}
            <span></span>
            <br/>
            {{ form.password.label(class="form-label authlabel")}}
            {{ form.password(class="form-control form-password")}}
            <span></span>
            <br/>
            <div class="container p-0">
            {% set url=url_for('auth.login') %}
            <button class="btn msuify-button" onclick="verify_info('{{ csrf_token() }}','{{url}}','{{url}}')" type="button">Login</button>
            <a id="usethis" href="/register" class="link p-2 msu-text-link">Don't have an account?</a>
            </div>

        </form>

    </div>
</div>
{% endblock %}  