{% extends "auth/base.html" %}


{% block title %}My.SIS Register{% endblock %}
{% block body %}    
<div class="container h-100 d-flex align-items-center justify-content-center">
    <div class="container align-items-center bg-white w-50 p-5 pt-3 myshadow">
        <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 150px;">
            <img class="img-fluid w-50" src="../../static/img/logo2.jpg" style="max-width: 150px; min-width: 100px;" alt="">
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <h5 class="text-muted text-center align-self-end">Create an account</h5>
        </div>
        {% block form %}
        <form method="POST">
            {{ form.email.label(class="form-label authlabel")}}
            {{ form.email(class="form-control form-email")}}
            <span></span>
            <br/>

            {{ form.password.label(class="form-label authlabel")}}
            {{ form.password(class="form-control form-password")}}
            <span></span>
            <br/>
            {{ form.password2.label(class="form-label authlabel")}}
            {{ form.password2(class="form-control form-password2")}}
            <span></span>
            <br/>
            <div class="container p-0">
            {% set url,dest = url_for('auth.register_user'), url_for('auth.login')%}
            <button class="btn msuify-button" onclick="verify_info('{{ csrf_token() }}','{{url}}','{{dest}}')" type="button">Register</button>
            <a href="/login" class="link p-2 msu-text-link">Already have an account?</a>
            </div>

        </form>
        {% endblock %}
    </div>
</div>
{% endblock %}  