{% extends "base.html" %}

{% block title %}
My.SIS Courses
{% endblock %}

{% block coursespill%}
msu-wrap
{% endblock %}

{% block coursespill2%}
text-light
{% endblock %}

{% block body %}


<div class="container w-75 ">
    <div class="container mt-4 mb-0 w-100">
        <form method="POST" action="/course-search" class="">
            {{ form.csrf_token}}
            <div class="row gx-5">
              <div class="col-lg-2 p-1 d-flex justify-content-start">
                  <button class="btn btn-success shadow-sm w-100" type="button" data-bs-toggle="modal" data-bs-target="#addcourse"> Add Course</button>
                </div>
              
              <div class="col-lg-2 p-1">
                <a href="/courses" class="btn btn-secondary w-100"  role="button" type="button" aria-disabled="true"><i class="bi-arrow-clockwise"></i> Refresh</a>
              </div>
              <div class="col col-lg-1">
              </div>
              <div class="col-lg-6 p-1">
                <div class="row">
                  <div class="col-4 p-0 ps-2">
                    <select name="course_filter" id="course_filter" class="form-select">
                      <option selected> Filter by</option>
                      <option value="course_code">Course Code</option>
                      <option value="course_name">Name</option>
                    </select>
                  </div>
                  <div class="col-8 p-0 px-1 pe-2">
                    <input class="form-control shadow-sm" type="search" placeholder="Search a Course" aria-label="Search" name="course_searchbar" id="course_searchbar">
                  </div>
              </div>
              </div>
              
              
            </div> 
        </form>
    </div>
  </div>

<!-- ADD COURSE MODAL -->
<div class="modal fade" id="addcourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Course</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/course-add" method="POST">
          <div class="modal-body">
              {{ form.course_code.label(class="form-label") }}
              {{ form.course_code(class="form-control") }}  
              <span></span>
              <br/>
              {{ form.course_name.label(class="form-label") }}
              {{ form.course_name(class="form-control") }} 
              <span></span>
              <br/>
              {{ form.college.label(class="form-label") }}
              {% if form.college.choices|length > 0 %}
              {{ form.college(class="form-select") }}
              {% else %}
              <input type="text" class="form-control" disabled="true", placeholder="No available colleges at the moment">
              {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {% if form.college.choices|length > 0 %}
            <button class="btn msuify-button" onclick="verify_course(0)" type="button">Submit</button>
            {% endif %}
          </div>
          </form>
        </div>
      </div>
</div>

{% if courses == None or courses|length == 0 %}
<div class="container d-flex justify-content-center pt-5">
  <h1 class="text-muted display-5">No results</h1>
</div>
{% else %}

<!-- Table -->
<div class="container mt-3 bg-white rounded-1 py-2 shadow-sm" id="course_tc">
  <div class="table-responsive-md overflow-x-scroll">
    <table class="table align-middle mb-0 bg-white table-hover sampleTable"  style="min-width: 720px;">
      <thead id="course_thead">
  
        <tr>
          <th scope="col-2" class="py-3 ps-5">Course Code</th>
          <th scope="col-5" class="py-3">Course Name</th>
          <th scope="col-5" class="py-3">College </th>
          <th scope="col-5" class="py-3">Action</th>
        </tr>
      
      </thead>
      <tbody class="table-group-divider" id="course_tbody">
      {% for course in courses %}
      <tr>
          <th scope="row" class="ps-5">{{ course.course_code }}</th>
          <td>{{ course.course_name }}</td>
          {% if course.college %}
          <td>{{ course.college.college_name }}</td>
          {% else %}
          <td> <p class="fst-italic fw-light my-auto h-50">College Removed</p> </td>
          {% endif %}
          <script>
          </script>
          <td class="pe-0">
              <a href="/course-edit/{{course.course_code}}"class="btn btn-warning btn-sm my-1" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#editcourse{{course.course_code}}" style="width: 120px;">Edit</a>

              <a href="/course-delete/{{course.course_code}}" class="btn btn-danger btn-sm my-1" role="button" aria-pressed="true" style="width: 120px;" data-bs-target="#confirmdelete{{course.course_code}}" data-bs-toggle="modal">Delete</a>

          </td>
      </tr>

      <!-- EDIT MODAL -->
      <form action="/course-edit" method="POST">
        <div id="editcourse{{course.course_code}}" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit {{course.course_name}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                      {{ form.csrf_token }}
                      <input type="hidden" value="{{ course.course_code }}" id="hid" name="hid" style="padding: 0;">
                      
                      {{ form.course_code.label(class="form-label") }}
                      {% set course_code, course_name, college = course.course_code, course.course_name, course.college_code %}
                      {{ form.course_code(class="form-control", value=course_code) }}
                      <span></span>
                      <br/>
                      {{ form.course_name.label(class="form-label") }}
                      {{ form.course_name(class="form-control", value=course_name) }} 
                      <span></span>
                      <br/>
                      {{ form.college.label(class="form-label")}}
                      {% if form.college.choices|length > 0 %}
                      {{ form.college(class="form-control", value=college)}}
                      {% else %}
                            <input type="text" class="form-control" disabled="true", placeholder="No available colleges at the moment">
                      {% endif %}
                  </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    {% if form.college.choices|length > 0 %}
                    <button class="btn btn-success" type="button" data-bs-target="#confirm{{course.course_code}}" data-bs-toggle="modal">Save</button>
                    {% endif %}
                  </div>
                  

                </div>
              </div>
        </div>
        
        <!-- CONFIRM EDIT MODAL -->
        <div class="modal fade" id="confirm{{course.course_code}}" aria-hidden="true" aria-labelledby="confirmChanges" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Confirm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Submit Changes?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  data-bs-target="#editcourse{{course.course_code}}" data-bs-toggle="modal" id="back">Back</button>
                {% if form.college.choices|length > 0 %}
                <button class="btn msuify-button" onclick="verify_course(1, '{{course.course_code}}')" type="button">Submit</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- CONFIRM DELETE MODAL -->
      <div class="modal fade" id="confirmdelete{{course.course_code}}" aria-hidden="true" aria-labelledby="confirmChanges" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Confirm</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Delete {{course.course_name}}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary me-0"
              data-bs-dismiss="modal">Cancel</button>
              
              <form action="/course-delete" method="post" class="p-0 m-0">
                {{form.csrf_token}}
                <input type="hidden" name="hid" value="{{course.course_code}}">
                <button type="submit" class="btn btn-secondary msuify-button"  >Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
      {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
<br/>



<div class="modal fade" id="addcourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a course</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/course-add" method="POST">
        <div class="modal-body">
            {{ form.csrf_token }}
            {{ form.course_code.label(class="form-label") }}
            {{ form.course_code(class="form-control") }}
            <br/>
            {{ form.course_name.label(class="form-label") }}
            {{ form.course_name(class="form-control") }} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {# {{ form.submit(class="btn msuify-button")}} #}
        </div>
        </form>
      </div>
    </div>
</div>

{% endif %}
{% endblock %}